apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - base/secrets.yaml

helmCharts:
  - repo: https://kubernetes-sigs.github.io/external-dns/
    name: external-dns
    releaseName: external-dns
    version: 1.20.0
    valuesFile: values.yaml
    namespace: external-dns

images:
  - name: ghcr.io/kashalls/external-dns-unifi-webhook
    newTag: v0.8.1
