apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: n8n
  annotations:
    reloader.stakater.com/auto: "true"
  name: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: n8n
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: n8n
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:1.37@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
          command: ["sh", "-c", "chown 1000:1000 /data"]
          volumeMounts:
            - name: n8n-volume
              mountPath: /data
      containers:
        - command:
            - /bin/sh
          args:
            - -c
            - sleep 5; n8n start
          env:
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: n8n-db-rw
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_DATABASE
              value: n8n
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-db-user
                  key: username
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-db-user
                  key: password
            - name: N8N_PROTOCOL
              value: http
            - name: N8N_PORT
              value: "80"
          envFrom:
            - configMapRef:
                name: n8n-config
          image: ghcr.io/n8n-io/n8n:2.9.2@sha256:52bc65540cbfb6f8b5320bafaf28bcc018ae08124bb0a7cbf5ca7f044b54d698
          name: n8n
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "250Mi"
            limits:
              memory: "500Mi"
          volumeMounts:
            - mountPath: /home/node/.n8n
              name: n8n-volume
      restartPolicy: Always
      volumes:
        - name: n8n-volume
          persistentVolumeClaim:
            claimName: n8n-volume
