apiVersion: v1
kind: ConfigMap
metadata:
  name: pelican-panel-configfiles
data:
  Caddyfile: |
    {
      admin off
      servers {
        trusted_proxies static 127.0.0.1
      }
    }

    :80 {
      root * /var/www/html/public
      encode gzip

      php_fastcgi 127.0.0.1:9000 {
        env PHP_VALUE "upload_max_filesize = 256M post_max_size = 256M"
      }
      file_server
    }
  exporter_config.yaml: |
    host: localhost
    port: 9531
    # api_key:
    https: false
    server_list_type: admin-all
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pelican-panel-env
data:
  APP_URL: https://pelican.services.sbling.net
  # APP_ENV: production
  APP_INSTALLED: "true"

  # === drivers ===
  CACHE_STORE: file
  QUEUE_CONNECTION: database
  SESSION_DRIVER: database

  # === database ===
  DB_CONNECTION: pgsql
  DB_HOST: pelican-panel-db-rw
  DB_DATABASE: panel
  DB_PORT: "5432"

  # === mail ===
  MAIL_MAILER: smtp
  MAIL_ENCRYPTION: tls
  MAIL_HOST: mail.sbling.net
  MAIL_PORT: "587"
  MAIL_FROM_ADDRESS: noreply@sbling.net
  MAIL_FROM_NAME: Sbling Gaming
