apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: carpoolerbot
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: carpoolerbot
          image: ghcr.io/ardubev16/carpoolerbot:v0.2.5
          env:
            - name: TZ
              value: Europe/Rome
            - name: HOLIDAYS_COUNTRY
              value: IT
            - name: HOLIDAYS_SUBDIV
              value: BZ
            - name: DB_HOST
              value: carpoolerbot-db-rw
            - name: DB_NAME
              value: carpoolerbot
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: carpoolerbot-db-user
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: carpoolerbot-db-user
                  key: password
          envFrom:
            - secretRef:
                name: carpoolerbot-env
