apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
spec:
  revisionHistoryLimit: 3
  replicas: 2
  strategy:
    type: RollingUpdate
  template:
    spec:
      serviceAccountName: homepage
      automountServiceAccountToken: true
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: homepage
          image: ghcr.io/gethomepage/homepage:v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /app/config
              name: homepage-config
            - mountPath: /app/public/icons
              name: homepage-icons
            - mountPath: /app/config/logs
              name: logs
          envFrom:
            - secretRef:
                name: homepage-env
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: homepage.services.sbling.net
      volumes:
        - name: homepage-config
          configMap:
            name: homepage-config
        - name: homepage-icons
          configMap:
            name: homepage-icons
        - name: logs
          emptyDir: {}
