apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-operator

helmCharts:
  - repo: https://cloudnative-pg.github.io/charts
    name: cloudnative-pg
    releaseName: cnpg-operator
    version: 0.27.1
    namespace: cnpg-operator
    valuesFile: values.yaml

resources:
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.11.0/manifest.yaml
  - monitoring/dashboards.yaml
