# see: https://github.com/argoproj/argoproj-deployments/blob/master/argocd/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - base/monitoring
  - base/external-webhook.yaml
  - base/ingress.yaml
  - base/namespace.yaml
  - base/network-policy.yaml
  - base/secrets.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.3/manifests/ha/install-with-hydrator.yaml

patches:
  - path: overlays/production/argocd-cm.yaml
  - path: overlays/production/argocd-cmd-params-cm.yaml
  - path: overlays/production/argocd-rbac-cm.yaml
  - path: overlays/production/argocd-redis-ha-haproxy-deploy.yaml
  - path: overlays/production/argocd-secret.yaml
  - path: overlays/production/haproxy-metrics-network-policy.yaml
    target:
      kind: NetworkPolicy
      name: argocd-redis-ha-proxy-network-policy
