apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod-icinga

helmCharts:
  - repo: https://icinga.github.io/helm-charts
    name: icinga-stack
    releaseName: icinga
    version: 0.7.0
    valuesFile: values.yaml
    namespace: prod-icinga

resources:
  - gateway.yaml
  - namespace.yaml
  - secrets.yaml
  - telegram-notifications.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: icinga-icinga2
    path: overlays/telegram-notifications.yaml
