loki:
  auth_enabled: false
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  pattern_ingester:
    enabled: true
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  compactor:
    retention_enabled: true
    delete_request_store: s3
    retention_delete_delay: 5m
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 168h # 7 days

  # FIXME: Workaround until https://github.com/grafana/loki/issues/19694 is fixed.
  storage:
    bucketNames:
      chunks: chunks
      ruler: ruler
      admin: admin

deploymentMode: SimpleScalable

backend:
  replicas: 2
read:
  replicas: 2
write:
  replicas: 3 # To ensure data durability with replication

# Enable minio for storage
minio:
  enabled: true
  persistence:
    size: 20Gi
