apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: punbot
spec:
  replicas: 1
  template:
    spec:
      volumes:
        - name: punbot-data
          persistentVolumeClaim:
            claimName: punbot-data
      containers:
        - name: punbot
          image: ghcr.io/ardubev16/punbot:v0.1.0@sha256:977e3feb25eac9171647822c3c9a0de4cf24d4b64a80eb607d1e985d1d7f02b3
          volumeMounts:
            - mountPath: /data
              name: punbot-data
          env:
            - name: TZ
              value: Europe/Rome
          envFrom:
            - secretRef:
                name: punbot-env
