apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik-system

helmCharts:
  - repo: https://traefik.github.io/charts
    name: traefik
    releaseName: traefik
    version: 38.0.2
    valuesFile: values.yaml
    namespace: traefik-system

resources:
  - base/certificate.yaml
  - base/grafana-dashboards.yaml
  - base/middleware-oidc-auth.yaml
