global:
  sendAnonymousUsage: false

experimental:
  plugins:
    traefikoidc:
      moduleName: github.com/lukaszraczylo/traefikoidc
      version: v0.8.20

deployment:
  replicas: 2
  podLabels:
    app: traefik

ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    asDefault: true

service:
  annotations:
    lbipam.cilium.io/ips: 172.31.50.128

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: Traefik
      gethomepage.dev/description: Kubernetes cluster ingress controller dashboard.
      gethomepage.dev/group: Cluster
      gethomepage.dev/icon: traefik-proxy
      gethomepage.dev/pod-selector: ""
      # NOTE: because this is an IngressRoute
      gethomepage.dev/href: https://traefik-k8s.services.sbling.net
      gethomepage.dev/app: traefik
    matchRule: Host(`traefik-k8s.services.sbling.net`)
    entryPoints: ["websecure"]
    middlewares:
      - name: oidc-middleware

ingressClass:
  enabled: true
  name: traefik

metrics:
  prometheus:
    service:
      enabled: true
    disableAPICheck: false
    headerLabels:
      user_id: X-User-Id
      tenant: X-Tenant

    serviceMonitor:
      enabled: true
      metricRelabelings:
        - sourceLabels: [__name__]
          separator: ;
          regex: ^fluentd_output_status_buffer_(oldest|newest)_.+
          replacement: $1
          action: drop
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          separator: ;
          regex: ^(.*)$
          targetLabel: nodename
          replacement: $1
          action: replace
      jobLabel: traefik
      interval: 30s
      honorLabels: true

    prometheusRule:
      enabled: true
      rules:
        - alert: TraefikDown
          expr: up{job="traefik"} == 0
          for: 5m
          labels:
            context: traefik
            severity: warning
          annotations:
            summary: "Traefik Down"
            description: "{{ $labels.pod }} on {{ $labels.nodename }} is down"
