apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cert-manager

helmCharts:
  - repo: https://charts.jetstack.io
    name: cert-manager
    releaseName: cert-manager
    version: v1.19.2
    namespace: cert-manager
    valuesFile: values.yaml

resources:
  - base/cluster-cert-issuer-prod.yaml
  - base/cluster-cert-issuer-staging.yaml
  - base/namespace.yaml
  - base/secrets.yaml
