apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod-harbor

helmCharts:
  - repo: https://helm.goharbor.io
    name: harbor
    releaseName: harbor
    version: 1.18.2
    valuesFile: values.yaml

resources:
  - base/database.yaml
  - base/grafana-dashboard.yaml
  - base/httproute-external.yaml
  - base/namespace.yaml
  - base/network-policy.yaml
  - base/secrets.yaml
